@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #090909, #F44E3F, #F57A6B);
}

.wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    background: rgba(255, 255, 255, .2);
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    padding: 40px;
}

.form-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

.wrapper.active .form-wrapper.sign-in {
    transform: scale(0) translate(-300px, 500px);
}

.wrapper .form-wrapper.sign-up {
    position: absolute;
    top: 0;
    transform: scale(0) translate(200px, -500px);
}

.wrapper.active .form-wrapper.sign-up {
    transform: scale(1) translate(0, 0);
}

h2 {
    font-size: 30px;
    color: #090909;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #090909;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #090909;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #090909;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -5px;
}

.remember {
    margin: -5px 0 15px 5px;
}

.remember label {
    color: #090909;
    font-size: 14px;
}

.remember label input {
    accent-color: #F40003;
}

button {
    position: relative;
    width: 100%;
    height: 40px;
    background: #090909;
    font-size: 16px;
    color: #F44E3F;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
}

.signUp-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

.signUp-link p {
    color: #090909;
}

.signUp-link p a {
    color: #F40003;
    text-decoration: none;
    font-weight: 500;
}

.signUp-link p a:hover {
    text-decoration: underline;
}

.social-platform {
    font-size: 14px;
    color: #090909;
    text-align: center;
}

.social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 1px solid #090909;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin: 15px 6px 0;
    transition: .3s;
}

.social-icons a:hover {
    background: #090909;
}

.social-icons a i {
    color: #090909;
    font-size: 14px;
    transition: .3s;
}

.social-icons a:hover i {
    color: #F44E3F;
}